@media (min-width: 1024px) {
  /* ---------- COMMON RULES ---------- */
  /* ---------- COMMON RULES ---------- */
  /* ---------- COMMON RULES ---------- */

  .container {
    margin: 0 25px;
  }
  .visible-md {
    display: inline;
  }

  /* ---------- HEADER ---------- */
  /* ---------- HEADER ---------- */
  /* ---------- HEADER ---------- */

  header {
    margin-bottom: 40px;
  }
  header .icon-menu_bars {
    display: none;
  }
  header .div-rg {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }
  header .div-rg nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .div-rg nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  header i {
    padding: 0;
  }

  /* ---------- MAIN ---------- */
  /* ---------- MAIN ---------- */
  /* ---------- MAIN ---------- */

  /* ----- FIRST-DIV: NAV ----- */

  .first-div-nav {
    margin-bottom: 20px;
  }

  /* ----- FIRST-DIV: IMG ----- */

  .first-div .div-pics {
    height: 370px;
  }
  .first-div .div-pics > img {
    flex: 1;
    width: 100%;
  }
  .first-div .div-pics > div {
    width: 405px;
  }

  /* ----- FIRST SECTION ----- */

  .first-section p {
    width: 50%;
  }

  /* ----- SUB SECTION ----- */

  .sub-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 80px;
  }
  .sub-section .div-1 {
    flex-shrink: 0;
    width: 24vw;
  }
  .sub-section .div-2 {
    flex-shrink: 0;
    max-width: 69vw;
    overflow: scroll;
  }
  .thumbnail-div {
    gap: 15px;
  }
  .thumbnail {
    width: 22vw;
  }
}
