@media (min-width: 769px) {
  /* ---------- COMMON RULES ---------- */
  /* ---------- COMMON RULES ---------- */
  /* ---------- COMMON RULES ---------- */

  .container {
    margin: 0 25px;
  }
  h1 {
    font-size: 54px;
    margin-bottom: 20px;
  }
  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: flex;
  }

  /* ---------- HEADER ---------- */
  /* ---------- HEADER ---------- */
  /* ---------- HEADER ---------- */

  header {
    margin-bottom: 30px;
  }
  header > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .col-lf {
    width: 235px;
  }
  header img {
    height: 40px;
  }
  header .div-rg {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  header .div-rg nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  header .div-rg nav i {
    font-size: 22px;
    padding: 5px;
  }

  /* ---------- MAIN ---------- */
  /* ---------- MAIN ---------- */
  /* ---------- MAIN ---------- */

  /* ----- FIRST-DIV: NAV ----- */

  .first-div-nav {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
  }
  .first-div-nav div {
    flex-shrink: 0;
    width: 24%;
    padding: 10px 15px;
  }
  .first-div-nav span {
    padding-right: 5px;
  }
  .first-div-nav i {
    font-size: 22px;
  }

  /* ----- FIRST-DIV: IMG ----- */

  .first-div .div-img {
    margin: 0 25px 20px 25px;
    position: relative;
  }
  .first-div .div-pics {
    height: 275px;
    display: flex;
    gap: 2px;
  }
  .first-div .div-pics > img {
    width: 66%;
    object-fit: cover;
  }
  .first-div .div-pics > div {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .first-div .div-pics > div img {
    height: 50%;
    object-fit: cover;
  }
  .first-div .div-img > img {
    height: 88px;
    width: 88px;
    background-color: #f1b202;
    position: absolute;
    left: 20px;
    top: 0;
  }

  /* ----- FIRST DIV: DIV GEO ----- */

  .first-div .div-geo {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #333333;
    margin: 0 25px 40px 25px;
  }
  .first-div .div-geo i {
    font-size: 10px;
  }

  /* ----- FIRST SECTION ----- */

  .first-section p {
    font-size: 20px;
    line-height: 24px;
  }

  /* ----- SUB SECTION ----- */

  .sub-section {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 70px;
  }
  .sub-section .div-1 {
    margin-bottom: 30px;
  }
  .thumbnail {
    flex-shrink: 0;
    width: 41%;
  }
  .thumbnail-div {
    gap: 10px;
  }
  .thumbnail-img > img:first-of-type {
    width: 100%;
    border-radius: 10px;
  }

  /* ----- BANNER ----- */
  /* ----- BANNER ----- */

  .banner {
    width: 90vw;
    left: 50%;
    margin-left: -45vw;
    bottom: 20px;
    padding: 10px 20px;
  }
  .banner img {
    width: 40px;
  }
  .banner p {
    font-size: 16px;
    line-height: 20px;
  }
}
